.nom-container{
  display: grid;
  grid-template-columns: auto 7rem 3rem 3rem;
  grid-template-rows: auto auto;
  text-align: left;
  column-gap: 2rem;
  justify-content: left;
  row-gap: 1rem;
}

.nom-number{
  grid-column: 1;
}

.nom-title{
  grid-column: 2;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nom-year{
  grid-column: 3;
  font-weight: lighter;
}

.remove-button{
  width: 3rem;
  grid-column: 4;
  padding: 0;
  margin: 0;
  background-color: white;
  border: none;
  border-radius: 3px;
  transition:  .5s;
}

/*CSS for transition group */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

/*Media queiries*/
@media(max-width: 700px){
  .nom-container{
    grid-template-columns: .25rem 4rem 2rem 3rem;

  }
}
@media(min-width: 701px) and (max-width: 800px){

  .nom-container{
    grid-template-columns: auto 10rem 2rem 4rem;
  }

}
@media(min-width: 801px) and (max-width: 1050px){
  .nom-container{
    grid-template-columns: auto 13rem 3rem 2rem
  }
}
@media(min-width: 1151px){
  .nom-container{
    grid-template-columns: auto 11rem 3rem 2rem
  }
}
