.movie-container{
  width: 10rem;
  display: grid;
  grid-template-rows: auto 2rem 1rem 3rem;
  row-gap: .75rem;
  color: black;

}
.movie-search-input{
  padding: .75rem;
  font-size: 20px;
  margin: 2rem;
  border-bottom: solid;
}
.title{
  padding: .5rem;
  text-align: center;
  font-weight:bolder;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.year{
  font-weight: lighter;
  text-align: center;
}

.nom-button{
  background-color: #FBFCD4;
  border-color: #151515;
  border-width: thin;
  border-radius: 2px;
  transition:  .5s;
  padding: .5rem;
  margin: .5rem;

}

.nominated{
  font-weight: bold;
  color: #FBFCD4;
  background-color: black;
  padding: .25rem;
  margin-top: .5rem;
}

.nom-button:hover:enabled{
  background-color: black;
  border-color: gold;
  color: #FBFCD4;
  border-radius: 7px;
}

.nom-button:disabled{
  background-color: black;
  border: none;
  color: #FBFCD4;
  border-radius: 7px;
}

img{
  width: 10rem;
  height: 15rem;
  border: solid;
  border-color: #151515;
  transition: .3s ease-in-out;

}
img:hover{
  transform: scale(1.01)
}
