.App {
  text-align: center;
}
.trophy{
  float: right;
  position: sticky;
  right: 2rem;
  top: 3rem;
}

.search-container{
}
.movies-container{

  width: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 4rem;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.nominees-container{
  float: right;
  position: sticky;
  top: 8rem;
  background-color: blue;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@media(max-width: 700px){
  .movies-container{
    grid-template-columns: auto
  }
}

@media(min-width: 701px) and (max-width: 800px){
  .movies-container{
    grid-template-columns: auto auto
  }
}

@media(min-width: 801px) and (max-width: 1050px){
  .movies-container{
    grid-template-columns: auto auto auto
  }
}

@media(min-width: 1051px) and (max-width: 1220px){
  .movies-container{
    grid-template-columns: auto auto auto auto
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
